{% extends 'base.html' %}
{% from 'bootstrap/pagination.html' import render_pagination %}

{% block title %}{{ rider.user.name }}'rider{% endblock %}

{% block content %}
<div class="card bg-light mb-3 w-100">
    <div class="row">
        <div class="col-md-3">
                <img class="img-fluid rounded" src="{{ url_for('main.get_avatar', filename=rider.user.avatar_l) }}">
        </div>
        <div class="col-md-9">
            <h1>{{ rider.user.name }}
                <small class="text-muted">{{ rider.user.username }}</small>
            </h1>
            <h2> 我的收入 <span class="oi oi-yen"></span>{{ rider.income }} </h2>
        </div>
    </div>


    <div class="card-body">
        {% if rider.active %}
            <form class="inline" method="post"
                  action="{{ url_for('rider.inactive', rider_id=rider.id) }}">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                <button type="submit" class="btn btn-outline-primary btn-sm">
                    <span class="oi oi-star"></span> Active
                </button>
            </form>
        {% else %}
            <form class="inline" method="post"
                  action="{{ url_for('rider.active', rider_id=rider.id) }}">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                <button type="submit" class="btn btn-outline-secondary btn-sm">
                    <span class="oi oi-ban"></span> Inactive
                </button>
            </form>
        {% endif %}

    <div class="user-nav">
        <ul class="nav nav-tabs">
            {{ render_nav_item('rider.index', 'orders', orders|length, rider_id=rider.id) }}
        </ul>
    </div>
    <div class="row">
        <div class="col-md-12">
            {% if orders %}
                {% for order in orders %}
                    <div>
                        <a class="navbar-brand" href="{{ url_for('user.show_order', order_id=order.id) }}">
                            <span class="oi oi-yen"></span>{{ order.fare }}
                            {% if order.is_finish %}
                                订单已完成 {{ order.time }}
                            {% else %}
                                订单正在配送 {{ order.shop.location_x }} | {{ order.shop.location_y }} <span class="oi oi-arrow-right"></span> {{ order.consumer.location_x }} | {{ order.consumer.location_y }}
                                {% if current_user.is_authenticated and order.rider.user == current_user %}
                                    <form class="inline" method="post"
                                          action="{{ url_for('rider.finish_order', order_id=order.id) }}">
                                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                                        <button type="submit" class="btn btn-primary btn-sm">Finish</button>
                                    </form>
                                {% endif %}
                            {% endif %}
                        </a>
                    </div>
                {% endfor %}
            {% else %}
                <div class="tip text-center">
                    <h3>No orders.</h3>
                </div>
            {% endif %}
        </div>
    </div>
    {% if orders %}
        <div class="page-footer">
            {{ render_pagination(pagination, align='center') }}
        </div>
    {% endif %}
</div>
    </div>
{% endblock %}
