{% extends 'base.html' %}
{% from 'bootstrap/pagination.html' import render_pagination %}
{% from 'macros.html' import order_card %}

{% block title %}{{ shop.name }}'s orders{% endblock %}

{% block content %}
    {% include 'shop/_header.html' %}
    <div class="row">
        <div class="col-md-12">
            {% if orders %}
                {% for order in orders %}
                    <div>
                        <a class="navbar-brand" href="{{ url_for('user.show_order', order_id=order.id) }}">
                            <span class="oi oi-yen"></span>{{ order.dish.price }}*{{ order.number }}
                            {% if order.is_prepared %}
                                商品已完成
                            {% else %}
                                {% if current_user.is_authenticated and order.shop.user == current_user %}
                                    <form class="inline" method="post"
                                          action="{{ url_for('shop.finish_order', order_id=order.id) }}">
                                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                                        <button type="submit" class="btn btn-primary btn-sm">Prepared</button>
                                    </form>
                                {% endif %}
                            {% endif %}
                        </a>
                    </div>
                {% endfor %}
            {% else %}
                <div class="tip text-center">
                    <h3>No orders.</h3>
                </div>
            {% endif %}
        </div>
    </div>
    {% if orders %}
        <div class="page-footer">
            {{ render_pagination(pagination, align='center') }}
        </div>
    {% endif %}
{% endblock %}
